<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>Netcooler: Reset Password</title>
</head>
<body>
  <p>Your Netcooler password has been successfully reset.</p> 
  <p>Your new password is: <b><%= @user.password %></b></p>
  <p>Click <a href="http://www.netcooler.com/session/new">here</a> to log in again.  When you do, you may want to change your password again to one you’ll remember.</p>
</body>
</html>
