<% @page_title = "Application error" %>
<h1><%= @page_title %></h1>
<p>We're sorry but an application error has occurred. Please be assured we will correct the problem as soon as possible.</p>
<p>Please click <%= link_to 'here', root_url %> to return to the home page.</p>
