<!--[start:shared/flasher]-->
<% if flash[:error] -%>
<div class="flash-error">
  <p><%= flash[:error] %></p>
</div>
<% end %>

<% if flash[:notice] -%>
<div class="flash-notice">
  <p><%= image_tag 'approve2.png' %> <%= flash[:notice] %></p>
</div>
<% end %>
<!--[end:shared/flasher]-->
