<!--[start:shared/footer]-->
<div id="footer">
  <p>Copyright © 2007 Netcooler</p>
  <p><%= link_to 'Privacy Policy', privacy_url %> | <%= link_to 'Terms of Use', terms_url %> | <%= link_to 'About Us', about_url %> </p>
</div>
<!--[end:shared/footer]-->
