<% @page_title = 'About Netcooler' %>

<h1><%= @page_title %></h1>

<div>
  <div class="about-us">
    <p>Netcooler was conceived by four guys who were energized and inspired by the proliferation of vertical social networks like Facebook and by the increasingly ubiquitous features of sites like Digg...but who thought that no site had yet effectively applied these cool new tools to the networks naturally constituted within individual companies everywhere.</p>
    <p>We wondered what we could pull off together in our nights and weekends, using the spare change we found in our couches. </p>
    <p>Several months and hundreds of dollars later, netcooler.com was launched.</p>
  </div>
  <div class="contact-us">
    <% rounded_box("Contact Us") do %>
      <p>Drop us a line at <a href="mailto:contact@netcooler.com">contact@netcooler.com</a></p>
    <% end %>
  </div>
</div>

