<% @page_title = 'Privacy Policy' %>

<h1><%= @page_title %></h1>

<p>Last updated: April 30, 2007</p>

<p>Netcooler understands that you care about how your personal information is used and shared, and we take your privacy seriously. Please read the following to learn more about our privacy policy. By visiting the Netcooler website, you are accepting the practices outlined in this Privacy Policy.</p>

<p><strong>POLICY</strong></p>
<p>Your privacy is important, so Netcooler, Inc., a Delaware corporation (the "Company") has created the following Privacy Policy to let you know what information we collect when you visit the netcooler.com website (the "Site"), why we collect it and how it is used. This Privacy Policy explains the data collection and use practices of the Company in connection with the services available to you pursuant to Netcooler membership, including access to the Site; it does not apply to other online or offline Company sites, products or services or to the practices of third parties that we do not own or control, or to individuals that we do not employ or manage. The terms "you," "your," and "yours" refer to the customer/purchaser utilizing our Site. The terms "Company," "Netcooler," "we," "us," and "our" refer to Netcooler, Inc. This Privacy Policy is governed by our <%= link_to 'Terms of Use', terms_url %>. By using this web site, you consent to the data practices prescribed in this statement. We may periodically make changes to this Privacy Policy that we will include on this page at any time without notice. It is your responsibility to review this Privacy Policy frequently and remain informed about any changes to it, so we encourage you to visit this page often.</p>

<p><strong>WHAT INFORMATION IS COLLECTED?</strong></p>
<p><strong>"Personally Identifiable Information"</strong> means any information that may be used to identify an individual, including, but not limited to, a first and last name, home or other physical address, an email address, phone number or other contact information, whether at work or at home, that is entered at registration or otherwise into a user’s profile. Our primary goal in collecting personal information is to provide you with a friendly, customized, and efficient experience. We only collect personal information that is relevant to the purpose of our Site. We do not process this information in a way that is incompatible with the purpose for which it has been collected or subsequently authorized by you. The Company collects the following Personally Identifiable Information from you when you use our Site:</p>

<p><em>Information You Provide to Us:</em></p>
<ul>
  <li>We receive and store any information you enter on our Site or provide to us in any other way. You can choose not to provide us with certain information, but then you may not be able to take advantage of certain features. The Personally Identifiable Information you provide is used for such purposes as registration. In order for you to use our services, such as adding comments, asking questions and submitting new links to the Site, you must complete a registration form. As part of this registration form, we require your email address.</li>
</ul>

<p><em>Automatic Information:</em></p>
<ul>
  <li>We may receive and store certain types of information whenever you interact with us.</li>
  <li>We may receive and record certain "traffic data" on our server logs from your browser, including your IP address, Netcooler cookie information, and the page you requested. We use this traffic data to help diagnose problems with our servers, analyze trends and administer the Site.</li>
  <li>We may also add on any page display the total counts that page has been viewed. This may include member profile pages.</li>
  <li>Netcooler allows for the RSS syndication of all of its public content within the Site.</li>
</ul>

<p>Netcooler and its affiliates may use your Personally identifiable Information to provide you with Netcooler product information, to support the Services offered on the Site, to notify you of technical updates or changes in policy (by posting the updates or changes to the site), or to deliver other customer services. In addition, Personally Identifiable Information may be shared with third parties as follows:</p>
<ul>
  <li>Social sharing of data: Netcooler allows other users to browse comments, questions, stories, other entries, ratings and tags that you have submitted, rated, or commented on. This information may be made available via your member profile or within the permalink URL of the company or other page in which you performed the action on. Netcooler may choose to post this data on other site features in the future.</li>
  <li>Profile information: Netcooler allows other users to browse your profile.</li>
  <li>Syndication: Netcooler allows for the RSS syndication of all of its public content within the Site.</li>
  <li>API: Netcooler will allow 3rd parties access to all Netcooler data that is already publicly available through netcooler.com. Netcooler will forever keep private passwords and blog settings.</li>
  <li>Tell A Friend: Netcooler’s email a friend functions may identify you by username when you send email through the Site.</li>
</ul>

<p><strong>IS THE PERSONALLY IDENTIFIABLE INFORMATION SHARED OR DISCLOSED?</strong></p>
<p>Netcooler does not rent or sell Personally Identifiable Information to third parties. Personally Identifiable Information is used to complete and support your use of the Site and to comply with any requirements of law.1 Netcooler may share Personally Identifiable Information as described below:</p>
<ul>
  <li><em>Required by Law; Protection of Netcooler and Others:</em> Netcooler may disclose Personally Identifiable Information if required to do so by law or in the good faith belief that such action is necessary to: (1) conform to the edicts of the law or comply with legal process served on Netcooler or its affiliates or the Site; (2) protect and defend the rights, property or safety of Netcooler, our employees and contractors, our users or others; (3) act in urgent circumstances to protect the personal safety of users of Netcooler, its web sites or the public; (4) enforce or apply our <%= link_to 'Terms of Use', terms_url %> and other agreements. The foregoing includes exchanging information with other companies and organizations for fraud protection and credit risk reduction.</li>
  <li><em>Bankruptcy; Change of Control:</em> If Netcooler should ever file for bankruptcy or be acquired by another company, whether by merger, stock transfer, or sale of assets, we may sell or otherwise transfer control of the information you provide to us on the Site, including the Personally Identifiable Information, to a third party or share your Personally Identifiable Information with any company with whom we merge or to whom sell ourselves or our assets.</li>
  <li><em>User Consent:</em> Except as set forth above, so long as you have provided your email address to us, you will be notified when your Personally Identifiable Information may be shared with third parties or used for a purpose incompatible with the purpose(s) for which it was originally collected, and you will be able to prevent the sharing of this information by opting out.</li>
</ul>

<p><strong>IS THE INFORMATION SECURE?</strong></p>
<p>Your Netcooler account information is protected by a password for your privacy and security. You need to work to protect against unauthorized access to your password and to your computer by logging off once you have finished using a shared computer. Only employees and contractors who need Personally Identifiable Information to perform a specific job (for example, a customer service representative) are granted access to it.</p>

<p><strong>INTERNATIONAL TRANSFERS</strong></p>
<p>Personalally Identifiable Information collected on this web site may be stored and processed in the United States or any other country in which Netcooler or its affiliates, subsidiaries or agents maintain facilities and/or infrastructure, and by using this web site, you consent to any such transfer of information outside of your country.</p>

<p><strong>COOKIES</strong></p>
<p>Cookies are small text files stored by your browser in your computer when you visit our Site. We use cookies to improve our Site and make it easier to use. Cookies permit us to recognize users and avoid repetitive requests for the same information. Most browsers will accept cookies until you change your browser settings to refuse them. Some of our business partners may use cookies on our Site (for example, advertisers). However, we have no access to or control over these cookies.</p>

<p><strong>YOUR CONSENT TO THIS PRIVACY POLICY</strong></p>
<p>By using the Site, you agree to this Privacy Policy. This is our entire and exclusive Privacy Policy and it supersedes any earlier version. Our <%= link_to 'Terms of Use', terms_url %> take precedence over any conflicting Privacy Policy provision. We may change this Privacy Policy by posting a new version of this Privacy Policy on the Site which it is your responsibility to review. We encourage you to periodically review this Privacy Policy to stay informed about how we are protecting the Personally Identifiable Information we collect. Your continued use of this web site constitutes your agreement to this Privacy Statement and any updates.</p>

<p><strong>LEGAL DISCLAIMER</strong></p>
<p>The Site operates "AS-IS" and "AS-AVAILABLE," without liability of any kind. We are not responsible for events beyond our direct control. This Privacy Policy is governed by the laws of Texas, excluding conflicts of law principles. Any legal actions against us must be commenced in Texas within one (1) year after the claim arose, or such action(s) will be barred.</p>

<p><strong>CONTACTING NETCOOLER</strong></p>
<p>If you believe that Netcooler has not adhered to this Privacy Policy, or if you feel that you need to correct information about you held by Netcooler, please contact us by email at <a href="mailto:privacyconcerns@netcooler.com">privacyconcerns@netcooler.com</a> or by postal mail at Netcooler, Inc., P.O. Box 50461, Austin, TX 78763-0461 and we will use commercially reasonable efforts to remedy the problem.</p>